version: '3.6'

## Reminder about ports
##   target    = container port
##   published = localhost port


services:
  http:
    ports:
#    - target: 80
#      published: 80
  h2-proxy:
    ports:
#    - target: 8443
#      published: 443
