<form method="post" action="{{ path('pizza_delete', {'id': pizza.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pizza.id) }}">
    <button class="btn">Delete</button>
</form>